<%= form_with(model: @idea,remote: true, class:"create_idea")do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@idea.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @idea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Title:
    <%= f.text_field :title %>
  </p>

  <p>
  Summary: <br>
  <%= f.text_area :summary %>
  </p>

  <p>
    Problem Being Addressed:<br>
    <%= f.text_area :problem %>
  </p>

  <p>
    Description:<br>
    <%= f.text_area :description %>
  </p>

  <p>
  Seeking Guidance In:<br>
  <%= f.text_area :guidance %>
  </p>

  <div class="field">
    Add an image (OPT.)
    <%= f.file_field :image %>
    </div>

  <p>
  Category:
    <%= f.select :category, ['Arts','Business', 'Education',  'Finance', 'Food & Drink', 'Gaming/ Entertainment',
      'Health/Wellness', 'Legal', 'Life Science', 'Medical', 'Music', 'Navigation','News','Photo & Video',
      'Real Estate','Robotics','Security','Shopping','Social Media','Technology', 'Transportation','Travel',
      'Utilities', 'Other']%> </p>


  <p>
    <button> Save for later </button>
  </p>


<% end %>
