<script type="text/javascript">

</script>
<h1>See Whats LiT</h1>

<%= link_to "Submit New Idea", new_idea_path %>

<%= form_tag(ideas_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Ideas" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @ideas.blank? %>
  <h4>There are no ideas containing the term <%= params[:search] %>.</h4>
<% end %>

<% @ideas.each do |idea| %>
<div style= border-style:solid; color:black>
  <h3><%= idea.title %></h3>
  <p><%= idea.summary %></p>
  <button> Save Idea </button>
  <%= link_to "Vote", idea_path(idea), class: 'like'%>
  </div>


<% end %>
