<% unless current_user %>

  <% image_tag('lit.png') %>
<% end %>


<% if current_user %>

  <% if current_user %>
    <h1 id=hometitle>See Whats LiT</h1>

   <div class= "ideamenu">
    <!-- <div> <button onclick="myFunction()" class="dropbtn">Sort</button> -->
        <!-- mydropdown what is being detected to hide/show content -->
              <!-- <ul id="myDropdown" class="dropdown-content">
              <%= link_to "Oldest To Newest", oldestfirst_path %>
              <%= link_to "Most Popular", upvotesort_path %>
              <a> Category </a>
            </ul>
        </div> -->

    <div class="dropbtn"><%= link_to "Submit New Idea", new_idea_path, id: 'submit-new-idea' %> </div>

      <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
  </div>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="#">Sort</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
         <li class="active"><%= link_to "Oldest To Newest", oldestfirst_path %></li>
         <li><%= link_to "Most Popular", upvotesort_path %></li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="#">Arts</a></li>
             <li><a href="#">Business</a></li>
             <li><a href="#">Education</a></li>
             <li><a href="#">Finance</a></li>
             <li><a href="#">Food & Drink</a></li>
            <li><a href="#">Gaming/ Entertainment</a></li>
            <li><a href="#">Health/Wellness</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Medical</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Photo & Video</a></li>
            <li><a href="#">Robotics</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Other</a></li>

             <!-- <li role="separator" class="divider"></li>
             <li><a href="#">Separated link</a></li>
             <li role="separator" class="divider"></li>
             <li><a href="#">One more separated link</a></li> -->
           </ul>
         </li>
       </ul>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->

  </nav>

    <div class="container">
      <% @ideas.each do |idea| %>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= (image_tag(idea.image_url.to_s)) %>
              <div class="caption">
                <h3><%= idea.title %></h3>
                <p><%= idea.summary %></p>
                <p><%= image_tag idea.user.avatar_url, class: 'submitter-pic' %><%= " Idea submitted by " + idea.user.first_name %></p>
                <p><%= button_to "View Idea", idea_path(idea), method: :get %></p>
                <% user_ideas = idea.upvotes.where(idea_id: idea.id, user_id: current_user.id) %>
                <h2 class= "voting"><%= link_to (fa_icon("lightbulb-o")), idea_upvotes_path(idea), class: "#{user_ideas.any? ? 'upvote' : 'vote'}" %></h2>
                <h3 class= "idea-count voting"> <%= idea.upvotes_count %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>
