<div class="jumbotron">
  <h1>Welcome to LiT!</h1>
  <p>
    <% if current_user %>
      Welcome, <%=current_user.name%>!<br>
      <%= image_tag current_user.avatar_url %>
      <br>
      <a class="btn btn-lg btn-primary" href="/logout" role="button">Log Out</a>
    <% else %>
      <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Log In With Facebook</a>
    <% end %>
  </p>
</div>

<% if current_user %>
  <h1>See Whats LiT</h1>

  <%= link_to "Submit New Idea", new_idea_path %>

  <%= form_tag(ideas_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Ideas" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

  <% if @ideas.blank? %>
    <h4>There are no ideas containing the term <%= params[:search] %>.</h4>
  <% end %>

  <% @ideas.each do |idea| %>
  <div style= border-style:solid; color:black>
    <h3><%= idea.title %></h3>
    <button> Save Idea </button>
    </div>
  <% end %>

<% end %>
