<% if current_user %>

  <div class="container">
    <%= link_to new_idea_path do %>
      <button class="btn btn-primary" id="submit-new-idea" type="button" name="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Submit New Idea</button>
    <% end %>
  </div>





  <!-- Navbar BEGIN -->

  <div class="container">
    <nav class="navbar navbar-default ">
      <div class="">
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- <div class="form-group" id="form-group-custom">
            <input type="text" class="form-control" placeholder="Search">
        </div> -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


         <a class="navbar-brand" href="#">Sort Ideas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><%= link_to "Oldest To Newest", oldestfirst_path %></li>
           <li><%= link_to "Most Popular", upvotesort_path %></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Arts</a></li>
               <li><a href="#">Business</a></li>
               <li><a href="#">Education</a></li>
               <li><a href="#">Finance</a></li>
               <li><a href="#">Food & Drink</a></li>
              <li><a href="#">Gaming/ Entertainment</a></li>
              <li><a href="#">Health/Wellness</a></li>
              <li><a href="#">Legal</a></li>
              <li><a href="#">Medical</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Navigation</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Photo & Video</a></li>
              <li><a href="#">Robotics</a></li>
              <li><a href="#">Security</a></li>
              <li><a href="#">Shopping</a></li>
              <li><a href="#">Other</a></li>
             </ul>
           </li>
         </ul>
           <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->

    </nav>
  </div>

  <!-- Navbar END -->

<br>


    <div class="container">
      <% @ideas.each do |idea| %>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= (image_tag(idea.image_url.to_s)) %>
              <div class="caption">
                <h3><%= idea.title %></h3>
                <p><%= idea.summary %></p>
                <p><%= image_tag idea.user.avatar_url, class: 'submitter-pic' %><%= " Submitted by " + idea.user.first_name %></p>
                <p><%= button_to "View Idea", idea_path(idea), method: :get, class: 'btn btn-primary' %></p>
                <% user_ideas = idea.upvotes.where(idea_id: idea.id, user_id: current_user.id) %>
                <h2 class= "voting"><%= link_to (fa_icon("lightbulb-o")), idea_upvotes_path(idea), class: "#{user_ideas.any? ? 'upvote' : 'vote'}" %></h2>
                <h3 class= "idea-count voting"> <%= idea.upvotes_count %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<% end %>
