<h1 id=hometitle>See Whats LiT</h1>

<% unless current_user %>
  <h2>Welcome to</h2>
  <% image_tag('lit.png') %>
<% end %>


<% if current_user %>

<div class= "ideamenu">

  <div class= "new"> <button onclick="myFunction()" class="dropbtn">Sort</button>
      <!-- mydropdown what is being detected to hide/show content -->
          <ul id="myDropdown" class="dropdown-content">
            <%= link_to "Oldest To Newest", oldestfirst_path %>
            <%= link_to "Most Popular", upvotesort_path %>
            <a> Category </a>
          </ul>
      </div>
  <div class= "new dropbtn"><%= link_to "Submit New Idea", new_idea_path %> </div>

  </div>

    <div class= "new"> <%= form_tag(ideas_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Ideas" %>
      <%= submit_tag 'Search', :name => nil %>
  <% end %>
  </div>




  <% if @ideas.blank? %>
    <h4> <%= @ideas %>There are no ideas containing the term <%= params[:search] %>.</h4>
  <% end %>


  <% @ideas.each do |idea| %>
    <div class="idea">
      <h2><%= idea.title %></h2>
      <%= (image_tag(idea.image_url.to_s)) %><br><br>
      <p><%= idea.summary %></p>
      <p><%= image_tag idea.user.avatar_url, class: 'submitter-pic' %><%= " Idea submitted by " + idea.user.first_name %></p>
      <%= button_to "View Idea", idea_path(idea), method: :get %>
      <%# user_ideas = current_user.upvotes.where(idea_id: idea.id) %>
      <% user_ideas = idea.upvotes.where(idea_id: idea.id, user_id: current_user.id) %>
      <h2 class= "voting"><%= link_to (fa_icon("lightbulb-o")), idea_upvotes_path(idea), class: "#{user_ideas.any? ? 'upvote' : 'vote'}" %> </h2>
      <h3 class= "idea-count voting"> <%= idea.upvotes.count %></h3>
    </div>
  <% end %>

<% end %>
