<div class="ideasection">
  <h2><%= @idea.title %></h2><br>
  <%= image_tag(@idea.image_url().to_s) %><br><br>

  <!-- Idea Information -->

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3> Category</h3>
          <p><%= @idea.category%><p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Summary</h3>
          <p><%= @idea.summary %><p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Problem Addressed</h3>
          <p><%= @idea.problem %><p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Description</h3>
          <p><%= @idea.description %><p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <h3>Seeking Guidance In</h3>
          <p><%= @idea.guidance %><p>
        </div>
      </div>
    </div>
  </div>

<% if @idea.user %>
  <h5 id='submitted-by'><%= link_to "Submitted by " + @idea.user.first_name, usersprofile_path(id: @idea.user.id) %></h5>
<% end %>

<%= image_tag @idea.user.avatar_url, id: 'profile-pic' if @idea.user %>
<br>

<% unless current_user == @idea.user %>
</div>

  <!-- Button trigger modal -->
  <div class="container">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      <%= "Message " + @idea.user.first_name %>
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Message Request Sent to <%= @idea.user.first_name %>!</h4>
        </div>
        <div class="modal-body">
          <h3>Message request sent to <%= @idea.user.first_name %>!</h3>
        </div>
        <div class="modal-footer">
          <%= button_to 'Return', idea_conversations_path(@idea), class: 'btn btn-primary btn-lg'  %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class="container">
    <h3 class="comment-section-title">Leave a Comment</h3>
<%= render 'comments/form', comment: @comment %>

      <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" href="#">Sort By Topic</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li ><%= link_to "All", idea_sortedcomments_path(@idea, sort: 'all'), class: "sort" %></li>
             <li ><%= link_to "Problem Being Addressed", idea_sortedcomments_path(@idea, sort: 'problem_addressed'), class: "sort" %></li>
             <li ><%= link_to "Ways to Enhance Idea", idea_sortedcomments_path(@idea, sort: 'enhance_idea'), class: "sort"%></li>
             <li ><%= link_to "Implementing Idea", idea_sortedcomments_path(@idea, sort: 'implementation'), class: "sort"%></li>
             <li><%= link_to "Disagree With Aspect of Idea", idea_sortedcomments_path(@idea, sort:'disagree'), class: "sort" %></li>
             <li><%= link_to "Other", idea_sortedcomments_path(@idea, sort: 'other'), class: "sort" %></li>

               </ul>
             </li>
           </ul>
         </div><!-- /.navbar-collapse -->
  </div>

      </nav>
<div class= "comment-wrapper">
        <%=render "comments/comment_sort"%>
</div>
