<h3><%= @idea.title %></h3>
<p><%= @idea.summary %><p>
<p><%= @idea.problem %><p>
<p><%= @idea.description %><p>
<p><%= @idea.guidance %><p>
<%= link_to "Return to Ideas", ideas_path %>

<h3>Submitted by <%= @idea.user.first_name if @idea.user %></h3>

<%= image_tag @idea.user.avatar_url, id: 'profile-pic' if @idea.user %>

<% unless current_user == @idea.user %>
  <p><%= "Message " + @idea.user.first_name + " about " + @idea.title %></p>
  <%= button_to 'Message', idea_conversations_path(@idea), class: 'btn btn-primary btn-lg'  %>
<% end %>
