<h1><%= @idea.title %></h1>
<p><%= @idea.description %><p>

<h3>Submitted by <%= @idea.user.first_name if @idea.user %></h3>

<%= image_tag @idea.user.avatar_url, id: 'profile-pic' if @idea.user %>

<p><%= "Message " + @idea.user.first_name + " about " + @idea.title %></p>

<%= button_to 'Message', idea_conversations_path(@idea) %>
