<h1>Conversations For <%= current_user.first_name %></h1>

  <% current_user.received_conversations.each do |convo| %>
    <%= image_tag convo.author.avatar_url%>
    <p><%= link_to "Conversation with #{convo.author.first_name} about #{convo.idea.title}", idea_conversation_path(convo,convo) %></p>
  <% end %>

  <% current_user.authored_conversations.each do |convo| %>
    <%= image_tag convo.recipient.avatar_url%>
    <p><%= link_to "Conversation with #{convo.recipient.first_name} about #{convo.idea.title}", idea_conversation_path(convo,convo) %></p>
  <% end %>
