<h1>Profile </h1>


	<%=@user.name %>
		<br>
		<br>
	<%= image_tag @user.avatar_url, id: 'profile-pic' %>

		<br>
		<br>

<%= form_tag editusersprofile_path(@user), method: :put do %>

	<h3>A little about me</h3>
	<%= @user.bio %>
		<br>
		<br>
	<% if @user == current_user %>  
	  <%= text_area_tag :bio, @user.bio %>
	<% end %>

	<h3>Skills and Strengths</h3>
	<%= @user.skills %>
		<br>
		<br>
	<% if @user == current_user %>  
	  <%= text_area_tag :skills, @user.skills %>
	<% end %>
		<br>


	<h3>Social Links</h3>
		<%= link_to(fa_icon("github"), @user.github)%> <br>
	<% if @user == current_user %>  
	  <%= text_field_tag :github, @user.github %>
	<% end %>
	<%= submit_tag "Submit" %>

<br>
		


		<br>
	<%= link_to(fa_icon("linkedin-square"), @user.linkedin)%> <br>
	<% if @user == current_user %>  
	  <%= text_field_tag :linkedin, @user.linkedin %>
	<% end %>
<%= submit_tag "Submit" %>
<br>
<br>
		<%= link_to(fa_icon("twitter"), @user.twitter)%> <br>
	<% if @user == current_user %>  
	  <%= text_field_tag :twitter, @user.twitter %>
	<% end %>
<%= submit_tag "Submit" %>




<%end%>


<div class="profile-requests">
	<% current_user.received_conversations.each do |convo| %>
		<% if convo.verify == false %>
			<!-- Button to accept request -->
			<%= image_tag convo.author.avatar_url, id: 'sender-pic' %>
			<p><%= convo.author.first_name %> wants to talk to you about <%= convo.idea.title %>!</p>
			<%= button_to "Talk to #{convo.author.first_name}!", idea_conversation_path(convo,convo) ,method: :get %>
		<% end %>
	<% end %>
</div>

<div class="profile-conversations">
	<% current_user.authored_conversations.each do |convo| %>
		<p><%= "#{convo.idea.user.first_name} wants to talk!" %></p>
		<%= button_to "Talk to #{convo.author.first_name}!", idea_conversation_path(convo,convo) ,method: :get %>
	<% end %>
</div>