<div class="donuts">

	<%=  image_tag @user.avatar_url, id: 'profile-pic' %>
<div class="container">

		<h2 id="username"><%=@user.name %></h2>

			<div class="social-links">
				<ul>
					<h1><li><%= link_to(fa_icon("github"), @user.github)%></li></h1>
					<h1><li><%= link_to(fa_icon("linkedin-square"), @user.linkedin)%></li></h1>
					<h1><li><%= link_to(fa_icon("twitter"), @user.twitter)%></li></h1>
				</ul>
			</div>




	<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
					<h3>About</h3>
					<%= @user.bio %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
					<h3>Skills and Strengths</h3>
					<%= @user.skills %>
        </div>
      </div>
    </div>
  </div>


	<h3> My Ideas </h3>

	<div class="container">
		<div class="ideas-center">
			<% @user.ideas.each do |idea| %>
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<%= (image_tag(idea.image_url().to_s)) %>
							<div class="caption">
								<h5><%= idea.title %></h5>
								<p><%= button_to "View Idea", idea_path(idea), method: :get %></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

</div>
