<h1>Profile </h1>

	<%= link_to "Home", '/' %> |

	<%=current_user.name %> 
		<br>
		<br>
	<%= image_tag current_user.avatar_url, id: 'profile-pic' %>

		<br>
		<br>

	<%= form_tag '/userprofile' do %>


	<%=current_user.bio %> 
	<end>	
		<br>
		<br>
	Bio: <%= text_area_tag :bio, current_user.bio %>
		<br>
		<br>


	<%=current_user.skills %>
	<%end%>
		<br>
		<br>
	Skills: <%= text_area_tag :skills, current_user.skills %>
		<br>
		<br>

		
		<%= link_to current_user.links, current_user.links %>

		<br>
		<br>
	Links: <%= text_field_tag :links%>
		<br>
		<br>

	<%= submit_tag "Submit" %>

		<br>
		<br>
<% current_user.ideas.each do |idea| %>
	<h3><%= idea.title %></h3>
	<p><%= idea.description %></p>
	<% end %>




