<!DOCTYPE html>
<html>
  <head>
    <title>Lit</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!--  Twilio  -->
    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.min.js"></script>
    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.8.1/twilio-ip-messaging.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>


      <div class="header">

          <%= link_to image_tag('lit.png'), root_path, id: 'logo' %>

          <% if current_user %>
            Welcome, <%=current_user.first_name%>!
            <%= link_to "Profile", usersprofile_path(id: current_user.id) %>
            <a  href="/logout" role="button" class= "logout">Log Out</a>
            <% else %>
              <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Log In With Facebook</a>
            <% end %>
      </div>

    <%= yield %>

  </body>
</html>
